.filter {
  display: flex;
  width: 100vw;
  height: 5em;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
  overflow: hidden;

  select {
    text-indent: 1px;
    text-overflow: "";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #8b9aef;
    color: white;
    text-align: center;
    margin: 2em;
    width: 15em;
    height: 3em;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
    padding: 0.5rem;
    font-family: "Digimon", serif;
    cursor: pointer;
    @media only screen and (max-width: 376px) {
      width: 12em;
      margin: 2em 0;
    }
  }

  img {
    width: 1em;
    position: absolute;
    left: 38%;
    z-index: inherit;
    opacity: 0;
  }
}
