$home-primary-color: #8b9aef;
$home-secondary-color: #eead1b;

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8em;
  height: 10vh;
}

.controls a {
  margin: 0 1.5em;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
}

a:visited {
  color: inherit;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $home-secondary-color;
  color: white;
  font-size: 3rem;
  border-radius: 25%;
  border: none;
  padding: 0.5em;
  height: 2em;
}
