footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  min-height: 2.5rem;
  justify-content: center;
  margin-top: 10rem;
  z-index: 2;
  font-size: 0.8rem;
}
.footer-signature {
  color: lightgray;
  font-size: 0.5rem;
}
