.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 50vw;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    grid-gap: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3em;
    padding: 0 2em;
    font-size: 150%;
  }

  li:first-child {
    border-right: 4px solid #eead1b;
  }

  li:hover {
    box-shadow: none;
  }
}
